<form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
  <nz-tabs [nzAnimated]="false" class="tabs" (nzSelectChange)="switch($event)">
    <nz-tab nzTitle="账户密码登录">
      @if (error) {
        <nz-alert [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg" />
      }
      <nz-form-item>
        <nz-form-control nzErrorTip="请输入用户名，必须是：admin 或 user">
          <nz-input-wrapper>
            <nz-icon nzInputPrefix nzType="user" />
            <input nz-input nzSize="large" formControlName="userName" autocomplete="username" placeholder="用户名：admin 或 user" />
          </nz-input-wrapper>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="请输入密码，必须是：ng-alain.com">
          <nz-input-wrapper>
            <nz-icon nzInputPrefix nzType="lock" />
            <input
              nz-input
              nzSize="large"
              type="password"
              formControlName="password"
              autocomplete="current-password"
              placeholder="密码：ng-alain.com"
            />
          </nz-input-wrapper>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
    <nz-tab nzTitle="手机号登录">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="mobileErrorTip">
          <nz-input-wrapper>
            <nz-icon nzInputPrefix nzType="user" />
            <input nz-input nzSize="large" formControlName="mobile" placeholder="手机号" />
          </nz-input-wrapper>
          <ng-template #mobileErrorTip let-i>
            @if (i.errors.required) {
              请输入手机号！
            }
            @if (i.errors.pattern) {
              手机号格式错误！
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="请输入验证码！">
          <nz-row [nzGutter]="8">
            <nz-col [nzSpan]="16">
              <nz-input-wrapper>
                <nz-icon nzInputPrefix nzType="mail" />
                <input nz-input nzSize="large" formControlName="captcha" placeholder="验证码" />
              </nz-input-wrapper>
            </nz-col>
            <nz-col [nzSpan]="8">
              <button type="button" nz-button nzSize="large" (click)="getCaptcha()" [disabled]="count >= 0" nzBlock [nzLoading]="loading">
                {{ count ? count + 's' : '获取验证码' }}
              </button>
            </nz-col>
          </nz-row>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
  </nz-tabs>
  <nz-form-item>
    <nz-col [nzSpan]="12">
      <label nz-checkbox formControlName="remember">自动登录</label>
    </nz-col>
    <nz-col [nzSpan]="12" class="text-right">
      <a class="forgot" routerLink="/passport/register">忘记密码</a>
    </nz-col>
  </nz-form-item>
  <nz-form-item>
    <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="loading" nzBlock> 登录 </button>
  </nz-form-item>
</form>
<div class="other">
  其他登录方式
  <nz-icon nzType="alipay-circle" nz-tooltip nzTooltipTitle="实际上是通过窗口打开Auth0" (click)="open('auth0', 'window')" class="icon" />
  <nz-icon nzType="taobao-circle" nz-tooltip nzTooltipTitle="实际上是重定向到Github" (click)="open('github')" class="icon" />
  <nz-icon nzType="weibo-circle" (click)="open('weibo', 'window')" class="icon" />
  <a class="register" routerLink="/passport/register">注册账户</a>
</div>
